//CSS Variables
$fs-s:14px;
$fs-xm:16px;
$fs-m:20px;
$fs-l:32px;
$fs-xl:36px;
$fs-xml:48px;
$fs-xxl:64px;
$lh-s:36%;
$lh-l:80%;
$color-primary:#aa0601;
$color-text:#650300;
$color-features-background:#FBF2F2;
$color-date:#707070;