.design{
    background-image: url(/images/index-bg.png);
    text-align: center;
    font-size: $fs-xml;
    h2{
        color:#fff;
        padding-top: 80px;
        padding-bottom: 48px;
        font-weight: 700;
    }
    h3{
        background-color: #fff;
        color:$color-primary;
        font-style: italic;
        font-weight: 700;
        font-family: 'Roboto';
        margin-bottom: 80px;
    }
}