.feature{
    background-color: $color-features-background;
    text-align: center;
    color:$color-text;
    font-family: 'Noto Sans TC';
    h2{
        font-size:$fs-xml;
        font-weight: bold;
        //padding-top:80px;
    }

    h3{
        font-weight: bold;
    }
    p{
        font-size:$fs-xm;
        color:black;
        text-align: start;
        //padding-bottom: 80px;
    }
}

.feature-list{
    padding-top: 37px;
    @media (max-width:768px) {
        
    }
}


.feature-image{
    max-width:80px;
    height:auto;
}

