@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+TC:wght@700&family=Roboto:ital,wght@0,500;0,700;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "PingFang TC", "Noto Sans TC", "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 24px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
  /*平板*/
  /*手機 */
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 372px;
  }
}

.px-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.row {
  margin-left: -12px;
  margin-right: -12px;
  display: flex;
}

.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.332%;
}

.col-5 {
  width: 41.665%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.331%;
}

.col-8 {
  width: 67%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.663%;
}

.col-12 {
  width: 100%;
}

.mr-6 {
  margin-right: 24px;
}

.flex {
  display: flex;
}

.h-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #fff;
}

.navbar-logo {
  width: 80px;
  margin: 12px 0;
}
@media (max-width: 768px) {
  .navbar-logo {
    margin: 0 0 16px 16px;
  }
}

.navbar {
  padding: 16px 0;
  background-color: #aa0601;
}
@media (max-width: 768px) {
  .navbar {
    padding-bottom: 0;
  }
}

.navbar-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .navbar-wrap {
    flex-direction: column;
    /* 移除左右 padding 再加入 max-width: 100%; 讓導覽列能變為滿版 */
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
}

.navbar-nav {
  display: flex;
}
@media (max-width: 768px) {
  .navbar-nav {
    flex-wrap: wrap;
  }
}

.navbar-item {
  height: 100%;
}
@media (max-width: 768px) {
  .navbar-item {
    width: 50%;
    margin-right: 0px;
    border: 1px solid #ffffff;
  }
}

.navbar-link {
  height: 100%;
  display: block;
  font-size: 20px;
  color: #ffffff;
  padding: 25px 32px;
}
@media (max-width: 768px) {
  .navbar-link {
    font-size: 16px;
    text-align: center;
    padding: 12px 0;
  }
}

.navbar-link:hover {
  opacity: 0.7;
}

.navbar-item:last-child .navbar-link {
  padding-right: 0;
}

.banner {
  background-image: url(/images/home-header.png);
  background-size: cover;
  height: 100vh;
}
@media (max-width: 768px) {
  .banner {
    background-image: url(/images/home-header-sm.png);
  }
}

.banner-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 296px;
  align-items: flex-end;
  color: #650300;
}
.banner-text h2 {
  font-size: 36px;
}
.banner-text p {
  font-weight: 700;
  font-size: 64px;
}
.banner-text button {
  background-color: #aa0601;
  color: #fff;
  padding: 6px 12px;
  border: none;
  font-size: 20px;
}
@media (max-width: 768px) {
  .banner-text {
    flex-wrap: nowrap;
  }
  .banner-text .col-sm-10 {
    width: 83.33%;
  }
}
@media (max-width: 375px) {
  .banner-text {
    flex-wrap: nowrap;
    padding-top: 144px;
  }
  .banner-text .col-xs-12 {
    width: 100%;
  }
  .banner-text h2 {
    font-size: 16px;
  }
  .banner-text p {
    font-size: 24px;
  }
}

.feature {
  background-color: #FBF2F2;
  text-align: center;
  color: #650300;
}
.feature h2 {
  font-size: 48px;
  padding-top: 80px;
}
.feature p {
  font-size: 16px;
  color: black;
  text-align: start;
  padding-bottom: 80px;
}

.feature-list {
  flex-wrap: nowrap;
  padding-top: 37px;
}
@media (max-width: 768px) {
  .feature-list {
    flex-wrap: wrap;
  }
}

.feature-item {
  width: 25%;
}
@media (max-width: 768px) {
  .feature-item {
    width: 50%;
  }
}

.feature-image {
  width: 80px;
  height: auto;
}

.product {
  text-align: center;
  color: #650300;
}
.product h2 {
  font-weight: bold;
  font-size: 48px;
  padding-bottom: 48px;
  padding-top: 80px;
}
.product h3 {
  font-size: 48px;
  color: #aa0601;
  font-style: italic;
  font-family: "Roboto";
  padding-top: 8px;
  padding-bottom: 80px;
}/*# sourceMappingURL=all.css.map */